/*  */
.hkik-oddlines {
  margin-top: 3.5em;
  margin-bottom: 2em;
  padding-left: 20px;
  padding-right: 20px;
}
.hkik-oddline {
}

.hkik-oddline-head {
  margin-bottom: 1em;
}
.hkik-oddline-head h1 {
  font-family: "Raleway", sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 58.8px;
  text-align: left;
}
.hkik-oddline-body {
}

.hkik-oddline-each {
  height: 180px;
}

.hkik-oddline-eheads {
  height: 60px;
  padding: 0px 12px;
  background-color: var(--side-bar-popup);
}
.hkik-oddline-ehead {
  display: flex;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}
.hkik-ol-eheadl {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 20px;
  align-items: center;
}

.hkik-ol-eheadl p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  color: var(--secondary-white);
}
.hkik-ol-eheadr {
}

.hkik-ol-eheadr span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-white);
  line-height: 19.2px;
}
.hkik-oddline-econts {
  height: 120px;
  background-color: var(--side-bar-back);
  display: block;
}

.hkik-oddline-econt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
  flex: 1;
}

.hkik-oddline-econt-lefts {
  display: flex;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  padding-left: 18px;
}

.hkik-oddline-econt-left {
  display: flex;
  flex-direction: row;
  gap: 18px;
  height: 30px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.hkik-oddecontl-team {
  display: block;
  text-align: left;
}
.hkoddete-one {
  margin-bottom: 14px;
}
.hkik-oddecont1-odd {
  display: block;
  text-align: right;
}

.hkik-oddecont1-odd div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 7px;
}
.hkik-oddecont1-odd div span {
  padding-right: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 19.53px;
  font-weight: 700;
  line-height: 24px;
}

.hkik-oddecont1-odd div p {
  padding-right: 3px;
  color: #a7d1c7;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}
.hkik-oddecontl-team span {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 7px;
}

.hkik-oddecontl-team span p {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
}

.hkik-oddline-econt-rights {
  display: flex;
  flex: 0.5;
}
.hkik-oddline-econt-right {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
