.hagmel-matchs {
  margin-top: 5px;
}

.hagmel-match {
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: space-between;
}

.hag-odd-each {
  background: #7841ee;
  border: 1px solid #ffffff66;
  width: 100px;
  height: 80px;
  border-radius: 5px;
}
.hag-odd-each div {
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hag-odd-each div p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: var(--secondary-white);
}

.hag-odd-each div span {
  font-family: "Roboto", sans-serif;
  font-size: 19.38px;
  font-weight: 700;
  line-height: 24px;
}

/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  .hagmel-match {
    gap: 10px !important;
  }
  .hag-odd-each {
    width: 60px !important;
    height: 60px;
  }
  .hag-odd-each div {
    gap: 5px;
    display: flex;
  }
  .hag-odd-each div p {
    line-height: 20px;
    font-size: 14px;
  }
  .hag-odd-each div span {
    font-size: 16px;
  }
  .home-all-gmeachs {
    width: 320px !important;
  }
 
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Medium Devices (Tablets in Landscape, Small Laptops) */
@media (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices (Desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1201px) {
}
