.plcontainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebarLeft {
  width: 280px;
  padding: 20px;
  background: #191939;
  height: fit-content;
}
.plcontent {
  display: block;
  width: 100%;
  width: 58em;
}
.plcont {
}

.sidebarRight {
  width: 290px;
  padding: 15px;
  background: #191939;
  height: fit-content;
}

/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  .sidebarLeft,
  .sidebarRight {
    display: none;
  }
  .plcontainer {
    flex: 1;
    margin-left: 4px;
    margin-right: 4px;
  }
  .plcontent {
    width: 100%;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .plcontent {
    width: 100%;
  }
  .sidebarLeft,
  .sidebarRight {
    display: none;
  }
}

/* Medium Devices (Tablets in Landscape, Small Laptops) */
@media (min-width: 769px) and (max-width: 900px) {
  .sidebarRight {
    display: none;
  }
  .plcontent {
    width: 39em;
  }
}
@media (min-width: 901px) and (max-width: 1050px) {
  .sidebarRight {
    display: none;
  }
  .plcontent {
    width: 45em;
  }
}


@media (min-width: 1051px) and (max-width: 1150px) {
  .plcontent {
    width: 38em;
  }
}
/* Large Devices (Desktops) */
@media (min-width: 1151px) and (max-width: 1200px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1201px) {
}
