.plcontainer {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
}

.sidebarLeft {
  width: 280px;
  padding: 20px;
  background: #191939;
  height: fit-content;
}
.plcontent {
  flex: 1;
}

.sidebarRight {
  width: 290px;
  padding: 15px;
  background: #191939;
  height: fit-content;
}

/* Extra Small Devices (Phones) */
@media (max-width: 576px) {
  .sidebarLeft,
  .sidebarRight {
    display: none;
  }
  .plcontainer {
    flex: 1;
  }
}

/* Small Devices (Tablets) */
@media (min-width: 577px) and (max-width: 768px) {
}

/* Medium Devices (Tablets in Landscape, Small Laptops) */
@media (min-width: 769px) and (max-width: 992px) {
}

/* Large Devices (Desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
}

/* Extra Large Devices (Large Desktops) */
@media (min-width: 1201px) {
}
